*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #84b5cb;
}

body h2 {
  padding: 0 20px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  margin-top: 0;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  padding: 0 10px;
}

.navbar-link {
  padding: 0 5px;
}

/* --------------- Main welcome page -----------------*/
.welcome-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chevron {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 50px;
  color: black;
  transition: all 1s;
}

.chevron:hover {
  padding: 40px;
}

/* --------------- Sections -----------------*/
.section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
}

.about-me {
  width: 65vw;
}

.potfolio {
  width: 65vw;
}
/* --------------- Contact Me -----------------*/

/* --------------- Footer -----------------*/

footer {
  border-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sm-links {
  font-size: 30px;
}
