*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Other cool background colour: #84b5cb; */
body {
  font-family: "Poppins", sans-serif;
  background-color: white;
}

body h1 {
  font-size: 34px;
}

body h2 {
  font-size: 24px;
  padding: 0 20px;
}

body h3 {
  font-size: 19px;
}

body a {
  color: blue;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  margin-top: 0;
  justify-content: space-between;
  align-items: center;
  background-color: #daedff;
}

@media screen and (max-width: 1000px) {
  .header {
    display: flex;
    flex-direction: column;
  }

  .section {
    width: 100vw;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }

  .welcome-page {
    max-width: 80vw;
    margin: 0 auto;
  }

  .portfolio {
    width: 100vw;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }

  /* Need to get rid of the !important by being more specific with selector */
  div.port-img-div {
    display: none;
  }

  div.port-text-div {
    padding-left: 0;
  }

  div.port-out {
    padding: 0;
  }
}

.navbar {
  padding: 15px 10px;
}

.navbar-link {
  padding: 10px 5px;
}

.navbar-link:hover {
  color: #c3b1e1;
}

.header {
  max-width: 100%;
}

/* --------------- Main welcome page -----------------*/
.welcome-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chevron {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 50px;
  color: black;
  transition: all 1s;
}

.chevron:hover {
  padding: 40px;
}

/* --------------- Sections -----------------*/
.section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
  width: 65vw;
  margin: 0 auto;
}

a.anchor {
  display: block;
  position: relative;
  top: -70px;
  visibility: hidden;
}

.port-out {
  padding: 20px;
}

.port-div {
  display: flex;
  justify-content: space-between;
  gap: 4px;
}

.port-img-div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 10px;
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
}

.port-text-div {
  display: flex;
  max-width: 65vw;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-left: 50px;
}

.blogs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  width: 100%;
}

.blog-out {
  gap: 10px;
  display: flex;
}

/* --------------- Contact Me -----------------*/
.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100vw;
  padding-top: 30px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  background-color: #c3b1e1;
  padding-top: 20px;
  padding-left: 20px;
  overflow: hidden;
}

#email {
  background-color: #c3b1e1;
  border: 3px solid #b19cd9;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}

#message {
  background-color: #c3b1e1;
  border: 3px solid #b19cd9;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}

#submit {
  padding: 10px 15px;
  margin: 10px;
  color: white;
  background-color: darkcyan;
  border-radius: 10px;
}

/* --------------- Footer -----------------*/
footer {
  border-top: 1px solid #aaa;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-top: 10px;
  padding-left: 20px;
}

footer p {
  font-size: 20px;
  display: inline;
}

.sm-links {
  font-size: 30px;
}
